@*@model IEnumerable<OneCPO.Data.Models.PurchaseOrder>*@

@using ReflectionIT.Mvc.Paging;
@model  ReflectionIT.Mvc.Paging.IPagingList<OneCPO.Data.Models.PurchaseOrder>
@addTagHelper *, ReflectionIT.Mvc.Paging

@{
    ViewData["Title"] = "Index";
}

    <nav aria-label="Purchase order Paging">
        @await this.Component.InvokeAsync("Pager", new { PagingList = this.Model })
    </nav>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DescriptionSortParm"]">Description</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["QtySortParm"]">Quantity</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AmountSortParm"]">Total Amount</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Created On</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StatusSortParm"]">Status</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CustSortParm"]">Customer name</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Description
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @item.TotalAmount
            </td>
            <td>
                @item.CreatedOn.ToShortDateString()
            </td>
            <td>
                @item.Status
            </td>
            <td>
                @item.Customer.FirstName
            </td>
            
            <td>
                <a asp-action="Activate" asp-route-id="@item.Id"><input type="button" class="btn btn-success" value="Activate" /></a>
                <a asp-action="Deactivate" asp-route-id="@item.Id"><input type="button" class="btn btn-primary" value="Deactivate" /></a>
                <a asp-action="Remove" asp-route-id="@item.Id"><input type="button" class="btn btn-danger" value="Remove" /></a>
            </td>
        </tr>
}
    </tbody>
</table>

<nav aria-label="Customers navigation">
    <vc:pager paging-list="@Model" />
</nav>