@model OneCPO.Data.Models.Customer
@using OneCPO.Services.Contracts

@inject IPurchaseOrderService purchaseOrderService

@{
    ViewData["Title"] = "Info";
    var purchases = this.purchaseOrderService.GetPurchasesByUserId(Model.Id);
}

<div>
    <h4>Customer info</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telephone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telephone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div class="mb-3">
    <a asp-action="Edit" asp-route-id="@Model.Id"><input type="button" class="btn btn-outline-info" value="Edit Info" /></a>
</div>
@if (@purchases.Count() == 0)
{
<h1 class="text-md-center">There are no purchases.</h1>
}
else
{
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total Amount
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in purchases)
                {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    @item.TotalAmount
                </td>
                <td>
                    @item.Status
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="PurchaseOrder" asp-route-id="@item.Id"><input type="button" class="btn btn-outline-primary" value="Edit" /></a>
                    <a asp-action="Remove" asp-controller="PurchaseOrder" asp-route-id="@item.Id"><input type="button" class="btn btn-danger" value="Remove" /></a>
                </td>
            </tr>
                }
        </tbody>
    </table>
</div>
<div>
    <a asp-action="Index" asp-controller="Customer"><input type="button" class="btn btn-primary" value="Back to list" /></a>
</div>
}